.about-4{
    background-color: #f4f1ed;
     height: 100vh;
    text-align: center;
    }
    
    .about4-heading{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: #623e2a;
        font-size: 80px;
        position: relative;
    }
    
 
    .cards4{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 120px;
        padding-top: 25px;
    }
    