body{
    height:auto;
  }
  
.placemain-content{
    height: auto;
    margin-top: 230px;
}



.Addplace-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px auto 30px auto;
    padding: 20px;
    background-color: #ffffff;
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .placeHeading{
    font-size: 27px;
    padding: 0;
    padding-bottom: 8px;
    margin: 30px 370px 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .add-place-section{
    display: flex;
    justify-content: flex-start;
    gap:60px;
    align-items: center;
  }

  .placeParagraph{
    font-size: 18px;
    margin: 0;
    margin-left: 370px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
  }

  .placeform-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:5px;
  }
  

  .placeform-group label {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 20px;
    color: #000000;
  }
  
  .placeform-group input {
    outline: 0;
    border: none;
    background: none;
    border: 1px solid #888;
    padding: 12px 20px;
    font-size: 16px;
    margin-left: 10px;
    width: 620px;
  }

  .placeformgroupicon{
    display: flex;
    align-items: center;
  }
  
  .placefileicon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .place-headers{
    position: fixed;
      top: 131px;  /* Adjust based on your header height */
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: #ffffff;
  }

.placehidden-input {
    display: none; /* Hides the default file input */
}

.placefile-label {
    padding: 12px 45px;
    background-color: #000000;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.place-buttons{
    display: flex;
    margin-top: 35px;
    gap: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.placenext{
    border-radius: 30px;
    padding: 12px 45px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 190px;
}

.placeback{
    border-radius: 30px;
    padding: 12px 45px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 190px;
}
  
.add-place{
  border-radius: 30px;
  padding: 12px 45px;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 190px;
}

.placeform-group textarea {
  outline: 0;
  border: none;
  background: none;
  border: 1px solid #888;
  padding: 12px 20px;
  font-size: 16px;
  margin-left: 10px;
  width: 620px;
  height: 100px;
  resize:none;
}
