.packageplacetext{
  flex: 1; /* Allow the text section to take the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }

   
  .deleteandcard{
    display: flex;
    gap:50px;
   
  }
    
  .place-card {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    gap: 15px;
    align-items: flex-start; /* Align items at the top */
  }

  .place-card img {
    width: 333.33px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }

  .place-card p {
    text-align: justify;
    font-size: 15px;
    color: #222;
    line-height: 1.5; /* Improve readability */
  }

  .place-card h4 {
    font-size: 24px; /* Adjusted size for large headings */
    margin: 25px 0 10px 0; /* Space between heading and text */
    color: #000000;
    word-wrap: break-word; /* Allow long words to break */
  }

  .day-section {
    margin-bottom: 50px;
  }
  
  .day-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #2e37e5;
    padding: 5px 10px;
    width: 80px;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
  }
  
  .delete-button {
    background: none;    /* Optional: for readability */
    border: none;            /* Optional: remove border */
    cursor: pointer;        /* Optional: change cursor to pointer on hover */
    font-size: 35px;         /* Optional: adjust the font size */
  }
  
  
  