body{
    height:auto;
  }
  
.Editplacemain-content{
    height: auto;
    margin-top: 230px;
}

.edit-place-image{
    height: 250px;
    width: 333.33px;
    border-radius: 20px;
    margin-left: 50px;
}

.edit-place-image img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


.EditAddplace-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px auto 30px auto;
    padding: 20px;
    background-color: #ffffff;
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .EditplaceHeading{
    font-size: 27px;
    padding: 0;
    padding-bottom: 8px;
    margin: 30px 150px 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .Editadd-place-section{
    display: flex;
    justify-content: flex-start;
    gap:60px;
    align-items: center;
  }

  .EditplaceParagraph{
    font-size: 18px;
    margin: 0;
    margin-left: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
  }

  .Editplaceform-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:5px;
  }
  

  .Editplaceform-group label {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 20px;
    color: #000000;
  }
  
  .Editplaceform-group input {
    outline: 0;
    border: none;
    background: none;
    border: 1px solid #888;
    padding: 12px 20px;
    font-size: 16px;
    margin-left: 10px;
    width: 620px;
  }

  .Editplaceformgroupicon{
    display: flex;
    align-items: center;
  }
  
  .Editplacefileicon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .Editplace-headers{
    position: fixed;
      top: 131px;  /* Adjust based on your header height */
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: #ffffff;
  }

.Editplacehidden-input {
    display: none; /* Hides the default file input */
}

.Editplacefile-label {
    padding: 12px 45px;
    background-color: #000000;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.Editplace-buttons{
    display: flex;
    margin-top: 35px;
    gap: 40px;
    margin-right: 380px;
    margin-bottom: 30px;
}

.Editplacenext{
    border-radius: 30px;
    padding: 12px 45px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 190px;
}

.Editplaceback{
    border-radius: 30px;
    padding: 12px 45px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 190px;
}
  
.Editadd-place{
  border-radius: 30px;
  padding: 12px 45px;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 190px;
}

.Editplaceform-group textarea {
  outline: 0;
  border: none;
  background: none;
  border: 1px solid #888;
  padding: 12px 20px;
  font-size: 16px;
  margin-left: 10px;
  width: 620px;
  height: 100px;
  resize:none;
}
