.login-background{
    min-height: 100vh;
    background-image: url("../images/photo-1476514525535-07fb3b4ae5f1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}