.PlanTripnavbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Initially transparent */
    color: white;
    transition: background-color 0.3s ease; /* Smooth transition */
    z-index: 10; /* Ensure navbar is on top */
  }
  

  .PlanTripnavbar-items {
    margin: 0 30px;
    font-family: Georgia, serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  .PlanTripnavbar-right {
    margin-left: auto;
    margin-right: 70px;
    display: flex;
    align-items: center;
}


.login {
  border: none;
  background: none;
  font-family: Georgia, serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  cursor: pointer;
}

.PlanTripexplicit{
  border: none;
  background: none;
  margin: 0 30px;
  font-family: Georgia, serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}